{% load static %}
<div class="container-fluid py-5 my-5" style="background: linear-gradient(rgba(202, 203, 185, 1), rgba(202, 203, 185, 1));">
    <div class="container">
        <div class="row g-4 align-items-center">
            <div class="col-lg-7">
                <h1 class="mb-4 text-primary">Science News</h1>
                <h2 class="mb-4">Хотите получать еженедельную рассылку?</h2>
                <p class="text-dark mb-4 pb-2">
                    Оставьте нам свой Email - каждую неделю Вы будете получать дайджест новых статей
                </p>
                {% if request.session.email %}
                    <div class="alert alert-success rounded shadow text-center" role="alert">
                        Вы подписаны на еженедельную рассылку!
                    </div>
                {% endif %}
                <form id="subscribe-form" action="{% url 'subscribe' %}" method="post">
                    {% csrf_token %}
                    <div class="position-relative mx-auto">
                        <input name="email" class="form-control w-100 py-3 rounded-pill text-center" type="email" placeholder="Введите Ваш Email">
                        <button type="submit" class="btn btn-primary py-3 px-5 position-absolute rounded-pill text-white h-100" style="top: 0; right: 0;" disabled="disabled">Подписаться</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-5">
                <div class="rounded">
                    <img src="{% static 'img/newsletter-1.jpg' %}" class="img-fluid rounded w-100 rounded" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
