<div class="container-fluid latest-news py-5">
    <div class="container py-5">
        <h2 class="mb-4"><a class="text-dark link-hover" href="#">Последние статьи</a></h2>
        <div class="latest-news-carousel owl-carousel">
            {% for item in latest %}
                <div class="latest-news-item">
                    <div class="bg-light rounded">
                        <div class="rounded-top overflow-hidden" style="height: 200px;">
                            {% if item.photo %}
                                <img src="{{ item.photo.url }}" class="img-fluid img-zoomin rounded-top" alt="{{ item.photo_caption }}">
                            {% else %}
                                <img src="https://imgholder.ru/800x480/8493a8/adb9ca&text=IMAGE+HOLDER&font=kelson" class="img-fluid img-zoomin rounded-top" alt="">
                            {% endif %}
                        </div>
                        <div class="d-flex flex-column p-4" style="height: 150px;">
                            <a href="{{ item.get_absolute_url }}" class="h6 link-hover">{{ item.title}}</a>
                            <div class="d-flex justify-content-between">
                                <small class="text-body d-block"><i class="fas fa-pen"></i>&nbsp;{{ item.author }}</small>
                                <small class="text-body d-block"><i class="fas fa-calendar-alt me-1"></i>{{ item.created_at|date:"d.m.Y" }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
