<div class="grid">
    {% for item in five_popular_posts %}
        <div class="thumbnail">
            {% if item.photo %}
                <a href="{{ item.get_absolute_url }}" title="{{ item.title }}">
                    <img class="card-img-top" src="{{ item.photo.url }}" alt="{{ item.title }}">
                </a>
            {% else %}
                <a href="{{ post.get_absolute_url }}" title="{{ item.title }}">
                    <img src="https://placebear.com/300/201" alt="Place Holder">
                </a>
            {% endif %}
            <div class="caption">
                <h4>{{ item.title }}</h4>
                <p>{{ item.created_at }}</p>
            </div>
        </div>
    {% endfor %}
</div>
