<div class="single-post-big">
    <div class="big-image">
        {% if random_post.photo %}
        <a href="{{ random_post.get_absolute_url }}" title="{{ random_post.title }}">
            <img src="{{ random_post.photo.url }}" alt="{{ random_post.title }}">
        </a>
        {% else %}
            <p>
                <a href="{{ random_post.get_absolute_url }}" title="{{ random_post.title }}">
                    <img src="https://placebear.com/300/201" alt="Place Holder">
                </a>
            </p>
        {% endif %}
    </div>
    <div class="big-text">
        <h2><a href="{{ random_post.get_absolute_url }}" title="{{ random_post.title }}">{{ random_post.title|truncatechars:50 }}</a></h2>
        <p>Category: {{ random_post.category.title }}</p>
        <p>{{ random_post.content|safe|truncatechars_html:300 }}</p>
        <h4><span class="date">{{ random_post.created_at|date:"d.m.Y" }}</span><span class="author">Posted By: <span class="author-name">{{ random_post.author }}</span></span>
        </h4>
    </div>
</div>
