{% extends 'base.html' %}
{% block title %}Главная :: {{ block.super }}{% endblock title %}
{% load static %}
{% block content %}
{% load cache %}
    
<!-- Main Post Section Start -->
{% cache 600 _post_section_start %}
{% include 'blog/includes/_post_section_start.html' %}
{% endcache %}    
<!-- Main Post Section End -->
 
<!-- Banner Start -->
{%  include 'blog/includes/_banner_start.html' %}
<!-- Banner End -->   
    
<!-- Latest News Start -->
{% cache 600 _latest_carousel %}
{% include 'blog/includes/_latest_carousel.html' %}
{% endcache %}
<!-- Latest News End -->    
    
{#<!-- Most Popular News Start -->#}
{% cache 600 _popular_categories %}
{% include 'blog/includes/_popular_categories.html' %}
{% endcache %}
{#<!-- Most Popular News End -->#}

{% endblock content %}
