{% extends 'base.html' %}
{% block title %}Главная :: {{ block.super }}{% endblock title %}
{% load static %}
{% block content %}
    
<!-- Main Post Section Start -->
{% include 'blog/includes/_post_section_start.html' %}
<!-- Main Post Section End -->
 
<!-- Banner Start -->
{%  include 'blog/includes/_banner_start.html' %}
<!-- Banner End -->   
    
<!-- Latest News Start -->
{% include 'blog/includes/_latest_carousel.html' %}
<!-- Latest News End -->    
    
{#<!-- Most Populer News Start -->#}
{% include 'blog/includes/_popular_categories.html' %}
{#<!-- Most Populer News End -->#}

{% endblock content %}
