{% extends 'base.html' %}
{% block title %}Главная :: {{ block.super }}{% endblock title %}
{% load static %}
{% block content %}
    
<!-- Main Post Section Start -->
{% include 'blog/includes/_post_section_start.html' %}
<!-- Main Post Section End -->
 
<!-- Banner Start -->
{%  include 'blog/includes/_banner_start.html' %}
<!-- Banner End -->   
    
<!-- Latest News Start -->
{% include 'blog/includes/_latest_carousel.html' %}
<!-- Latest News End -->    
    
{#<!-- Most Populer News Start -->#}
<div class="container-fluid populer-news py-5">
    <div class="container py-5">
        <div class="tab-class mb-4">
            <div class="row g-4">
                <div class="container-fluid">
                    <div class="d-flex flex-column flex-md-row justify-content-md-between border-bottom mb-4">
                        <h2 class="mb-4">Новое в категориях...</h2>
                        <ul class="nav nav-pills d-inline-flex text-center">
                            {% for item in popular_categories %}
                                <li class="nav-item mb-3">
                                    <a class="d-flex py-2 bg-light rounded-pill me-2 {% if forloop.counter == 1 %}active{% endif %}" data-bs-toggle="pill" href="#tab-{{ forloop.counter }}">
                                        <span class="text-dark px-3">{{ item.title }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="tab-content mb-4">
                        {% for item in popular_categories %}
                            <div id="tab-{{ forloop.counter }}" class="tab-pane fade p-0 {% if forloop.counter == 1 %}active show{% endif %}">
                                <div class="row g-4">
                                    <div class="col-lg-8">
                                        <div class="position-relative rounded overflow-hidden">
                                            <img src="{{ item.categories.first.photo.url }}" class="img-zoomin img-fluid rounded w-100" alt="{{ item.categories.first.photo_caption }}">
                                            <div class="position-absolute text-white px-4 py-2 bg-primary rounded" style="top: 20px; right: 20px;">
                                                {{ item.title }}
                                            </div>
                                        </div>
                                        <div class="my-4">
                                            <a class="h4 link-hover" href="{{ item.categories.first.get_absolute_url }}" class="h4">{{ item.categories.first.title }}</a>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <p class="text-dark me-3"><i class="fa fa-pen"></i>&nbsp;&nbsp;{{ item.categories.first.author }}</p>
                                            <p class="text-dark me-3"><i class="fa fa-calendar-alt"></i>&nbsp;&nbsp;{{ item.categories.first.created_at|date:"d.m.Y" }}</p>
                                            <a class="text-dark me-3"><i class="fa fa-eye"></i>&nbsp;&nbsp;{{ item.categories.first.views }}</a>
                                        </div>
                                        <p class="my-4">
                                            {{ item.categories.first.content|safe|truncatewords_html:50 }}
                                        </p>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="row g-4">
                                            {% for post in item.categories.all|slice:"1:6" %}
                                                <div class="col-12">
                                                    <div class="row g-4 align-items-top">
                                                        <div class="col-5">
                                                            <div class="overflow-hidden rounded">
                                                                <img src="{{ post.photo.url }}" class="img-zoomin img-fluid rounded w-100" alt="{{ post.photo_caption }}">
                                                            </div>
                                                        </div>
                                                        <div class="col-7">
                                                            <div class="features-content d-flex flex-column">
                                                                <p class="text-uppercase mb-2">{{ item.title }}</p>
                                                                <p><a class="text-muted link-hover" href="{{ post.get_absolute_url }}" class="h6">{{ post.title }}</a></p>
                                                                <small class="text-body d-block"><i class="fas fa-pen me-1"></i>&nbsp;{{ post.author }}</small>
                                                                <small class="text-body d-block"><i class="fas fa-calendar-alt me-1"></i>&nbsp;{{ post.created_at|date:"d.m.Y" }}</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="border-bottom mb-4">
                        <h2 class="my-4">Популярные статьи</h2>
                    </div>
                    <div class="whats-carousel owl-carousel">
                        {% for item in popular|slice:"1:11" %}
                            <div class="latest-news-item">
                                <div class="bg-light rounded">
                                    <div class="rounded-top overflow-hidden" style="height: 380px">
                                        <img src="{{ item.photo.url }}" class="img-zoomin img-fluid rounded-top w-100" alt="{{ item.photo_caption }}">
                                    </div>
                                    <div class="d-flex flex-column p-4" style="height: 150px">
                                        <a href="{{ item.get_absolute_url }}" class="h5 link-hover">{{ item.title }}</a>
                                        <div class="d-flex justify-content-between">
                                            <a href="#" class="small text-body link-hover">{{ item.author }}</a>
                                            <small class="text-body d-block"><i class="fas fa-calendar-alt me-1"></i>&nbsp;{{ item.created_at|date:"d.m.Y" }}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
{#<!-- Most Populer News End -->#}    

{% endblock content %}
