{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }} :: {{ block.super }}{% endblock title %}
{% block content %}
    <section class="bg-text-area">
        {% include 'includes/_head_banner.html' %}
    </section>
    <section class="blog-post-area">
        <div class="container">
            <div class="row">
                <div class="blog-post-area-style">
                    <div class="col-md-12">
                        {% include 'includes/_ramdom_post.html' %}
                    </div>
                </div>
            </div>
            <div class="row">
                {% include 'includes/_recent_posts.html' %}
            </div>
        </div>
        {% include 'includes/_paginator.html' %}
    </section>
{% endblock content %}
