{% extends 'base.html' %}
{% load static %}
{% block title %}{{ post.title }} :: {{ block.super }}{% endblock title %}
{% block content %}
    <section class="single-blog-area">
        <div class="container">
            <div class="row">
               <div class="col-md-12">
                <div class="border-top">
                    <div class="col-md-8">
                    <div class="blog-area">
                        <div class="blog-area-part">
                            <h1>{{ post.title }}</h1>
                            <h4>Category: <a href="{{ post.category.get_absolute_url }}">{{ post.category.title }}</a></h4>
                            {% if post.photo %}
                                <p><img src="{{ post.photo.url }}" alt="{{ post.title }}"></p>
                            {% else %}
                                <p><img src="https://placebear.com/300/201" alt="Place Holder"></p>
                            {% endif %}
                            <h5>
                                {% if post.tag.exists %}
                                    Tags:
                                    {% for tag in post.tag.all %}
                                        <a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
                                    {% endfor %}
                                    &nbsp;|&nbsp;
                                {% endif %}
                                Views: {{ post.views }}
                            </h5>
                            {{ post.content|safe }}
                        </div>
                        <div class="ads-area">
                            <img src="{% static 'img/ads.jpg' %}" alt="">
                            <p>Your Ad Banner Goes Here</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                   <div class="tags">
                        <h2 class="sidebar-title">popular</h2>
                    </div>

                    {% include 'includes/_popular_posts.html' %}

                    <div class="sidebar-ads">
                        <img src="{% static 'img/sidebar-ads.jpg' %}" alt="">
                        <p>Place For Your <br> Ad Banner</p>
                    </div>
                    <div class="tags">
                        <h2 class="sidebar-title">Tags</h2>
                        {% include 'includes/_tags_cloud.html' %}
                    </div>
                    <div class="newsletter">
                        <h2 class="sidebar-title">Subscribe To oUR nEWSLETTER</h2>
                        <form action="#" method="post">
                            <input type="email" name="" id="" placeholder="Email">
                            <input type="submit" value="Subscribe">
                        </form>
                    </div>
                </div>
                </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
