{% extends 'base.html' %}
{% load static %}
{% block title %}{{ post.title }} :: {{ block.super }}{% endblock title %}
{% block content %}

        <section class="single-blog-area">
            <div class="container">
                <div class="row">
                   <div class="col-md-12">
                    <div class="border-top">
                        <div class="col-md-8">
                        <div class="blog-area">
                            <div class="blog-area-part">
                                <h3>{{ post.title }}</h3>
                                <h4>Category: <a href="{{ post.category.get_absolute_url }}">{{ post.category.title }}</a></h4>
                                <p><img src="{{ post.photo.url }}" alt="{{ post.title }}"></p>
                                <h5>
                                    {% if post.tags.exists %}
                                        Tags:
                                        {% for tag in post.tags.all %}
                                            <a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
                                        {% endfor %}
                                        &nbsp;|&nbsp;
                                    {% endif %}
                                    Views: {{ post.views }}
                                </h5>
                                {{ post.content|safe }}
                            </div>
                            <div class="ads-area">
                                <img src="{% static 'img/ads.jpg' %}" alt="">
                                <p>Your Ad Banner Goes Here</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="button-group filters-button-group">
                            <button data-filter=".recent" class="button is-checked">Recent</button>
                            <button data-filter=".popular" class="button">popular</button>
                            <button data-filter=".users" class="button">Users</button>
                        </div>

                        <div class="grid" style="position: relative; height: 1221.93px;">
                            <div class="portfolio-item recent" style="position: absolute; left: 0px; top: 0px;">
                                <img src="{% static 'img/portfolio1.jpg' %}" alt="">
                                <div class="portfolio-text">
                                    <h5><a href="#">Pay Close Attention To People Who Don’t Clap When You Win recent1.</a></h5>
                                    <p>By Kabbo Liate <span>|</span>25 February 2017</p>
                                </div>
                            </div>
                            <div class="portfolio-item recent" style="position: absolute; left: 0px; top: 0px;">
                                <img src="{% static 'img/portfolio2.jpg' %}" alt="">
                                <div class="portfolio-text">
                                    <h5><a href="#">Pay Close Attention To People Who Don’t Clap When You Win recent2.</a></h5>
                                    <p>By Kabbo Liate <span>|</span>25 February 2017</p>
                                </div>
                            </div>
                            <div class="portfolio-item popular" style="position: absolute; left: 0px; top: 0px;">
                                <img src="{% static 'img/portfolio3.jpg' %}" alt="">
                                <div class="portfolio-text">
                                    <h5><a href="#">Pay Close Attention To People Who Don’t Clap When You Win popular1.</a></h5>
                                    <p>By Kabbo Liate <span>|</span>25 February 2017</p>
                                </div>
                            </div>
                            <div class="portfolio-item popular" style="position: absolute; left: 0px; top: 0px;">
                                <img src="{% static 'img/portfolio4.jpg' %}" alt="">
                                <div class="portfolio-text">
                                    <h5><a href="#">Pay Close Attention To People Who Don’t Clap When You Win popular2.</a></h5>
                                    <p>By Kabbo Liate <span>|</span>25 February 2017</p>
                                </div>
                            </div>
                            <div class="portfolio-item users" style="position: absolute; left: 0px; top: 0px;">
                                <img src="{% static 'img/portfolio5.jpg' %}" alt="">
                                <div class="portfolio-text">
                                    <h5><a href="#">Pay Close Attention To People Who Don’t Clap When You Win users1.</a></h5>
                                    <p>By Kabbo Liate <span>|</span>25 February 2017</p>
                                </div>
                            </div>
                            <div class="portfolio-item users" style="position: absolute; left: 0px; top: 0px;">
                                <img src="{% static 'img/portfolio1.jpg' %}" alt="">
                                <div class="portfolio-text">
                                    <h5><a href="#">Pay Close Attention To People Who Don’t Clap When You Win users2.</a></h5>
                                    <p>By Kabbo Liate <span>|</span>25 February 2017</p>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-ads">
                            <img src="{% static 'img/sidebar-ads.jpg' %}" alt="">
                            <p>Place For Your <br> Ad Banner</p>
                        </div>
                        <div class="tags">
                            <h2 class="sidebar-title">Tags</h2>
                            <p><a href="#">Adventure</a></p>
                            <p><a href="#">Animals</a></p>
                            <p><a href="#">Asia</a></p>
                            <p><a href="#">Beauty</a></p>
                            <p><a href="#">Canada</a></p>
                            <p><a href="#">Celebration</a></p>
                            <p><a href="#">City</a></p>
                            <p><a href="#">Coffee</a></p>
                            <p><a href="#">Constructions</a></p>
                            <p><a href="#">Europe</a></p>
                            <p><a href="#">Adventure</a></p>
                            <p><a href="#">Animals</a></p>
                            <p><a href="#">Asia</a></p>
                            <p><a href="#">Beauty</a></p>
                            <p><a href="#">Canada</a></p>
                            <p><a href="#">Celebration</a></p>
                            <p><a href="#">City</a></p>
                            <p><a href="#">Coffee</a></p>
                            <p><a href="#">Constructions</a></p>
                            <p><a href="#">Europe</a></p>
                            <p><a href="#">Adventure</a></p>
                            <p><a href="#">Animals</a></p>
                            <p><a href="#">Asia</a></p>
                            <p><a href="#">Beauty</a></p>
                            <p><a href="#">Canada</a></p>
                        </div>
                        <div class="newsletter">
                            <h2 class="sidebar-title">Subscribe To oUR nEWSLETTER</h2>
                            <form action="#" method="post">
                                <input type="email" name="" id="" placeholder="Email">
                                <input type="submit" value="Subscribe">
                            </form>
                        </div>
                    </div>
                    </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock content %}